mixin text-field({placeholder='', name = '', type = 'text', fontSharpness = '', readonly = false})   

  input(
    class=`text-field js-text-field`, 
    type=type,
    name=name,
    placeholder=placeholder,
    readonly=readonly
  )