.text-field {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  border-radius: 4px;
  height: 44px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.50);
  border: 1px solid rgba(31, 32, 65, 0.50);
  box-sizing: border-box;
  padding-left: 15px;
  text-overflow: ellipsis;

  &:hover,&:focus {
    border: 1px solid rgba(31, 32, 65, 0.75);
    color: rgba(31, 32, 65, 0.75);
    outline: none;
  }

  &::placeholder {
    color: rgba(31, 32, 65, 0.50);
  }
}