@font-face {
	font-family: 'Rage';
	src: url('/static/fonts/661_Rage_Italic.eot');
	src: url('/static/fonts/661_Rage_Italic.woff') format('woff'), 
						url('/static/fonts/661_Rage_Italic.ttf') format('truetype'), 
						url('/static/fonts/661_Rage_Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pricedown';
	src: url('/static/fonts/660_pricedown_rus.eot');
	src: url('/static/fonts/660_pricedown_rus.woff') format('woff'), 
						url('/static/fonts/660_pricedown_rus.ttf') format('truetype'), 
						url('/static/fonts/660_pricedown_rus.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}