@font-face {
	font-family: 'Rage';
	src: url('/fonts/RageItalic.eot');
	src: url('/fonts/RageItalic.woff') format('woff'), 
						url('/fonts/RageItalic.ttf') format('truetype'), 
						url('/fonts/RageItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pricedown';
	src: url('/fonts/PricedownRus.eot');
	src: url('/fonts/PricedownRus.woff') format('woff'), 
						url('/fonts/PricedownRus.ttf') format('truetype'), 
						
						url('/fonts/PricedownRus.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}